@tailwind base;
@tailwind components;
@tailwind utilities;
 

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}



@layer base {
  :root {
    --background: 0 10% 100%;
    --foreground: 0 0% 3.9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 63.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 0 0% 14.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  * {
    outline: none;
    @apply antialiased;
  }

  .wrapper {
    @apply mx-auto px-16 xl:container;
  }

  .wrapper-mobile {
    @apply mx-auto px-8 xl:container;
  }
}

@layer components {
  /* Headers */
  .main-title {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl text-foreground ;
  }

  .section-title {
    @apply scroll-m-20  pb-2 sm:text-3xl text-4xl font-semibold tracking-tight transition-colors first:mt-0  text-foreground;
  }

  .section-subtitle {
    @apply text-sm font-bold text-foreground;
  }

  .text-title {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight text-foreground;
  }

  .text-subtitle {
    @apply scroll-m-20 text-xl font-semibold tracking-tight text-foreground;
  }

  /* Text */
  .text {
    @apply leading-7 text-foreground;
  }

  .small-text {
    @apply text-sm font-medium leading-none text-foreground;
  }
  .text-quote {
    @apply mt-6 border-l-2 pl-6 italic text-foreground;
  }

  .text-list {
    @apply @applymy-6 ml-6 list-disc [&>li]:mt-2 text-foreground;
  }

  .text-muted {
    @apply text-sm text-muted-foreground ;
  }
/****************************** REACT-SELECT STYLES**************************/


  .select-component-container .css-12a83d4-MultiValueRemove{
    @apply bg-secondary/80 text-foreground rounded-none
  }

  .select-component-container .css-wsp0cs-MultiValueGeneric{
    @apply bg-secondary text-foreground rounded-none
  }


  .select-component-container .css-1dimb5e-singleValue {
    @apply text-foreground
  } 

  /* //Remember change this color for other better  */
  .select-component-container .select-component__option--is-selected {
    @apply bg-green-500
  }

  .select-component-container .css-10wo9uf-option{
    @apply bg-background hover:bg-secondary text-foreground
  }

  .select-component-container .select-component__option--is-focused {
    @apply bg-accent
  }

  .select-component-container .css-1nmdiq5-menu{
    @apply bg-background text-foreground
  }

  .select-component-container  .css-13cymwt-control{
    @apply flex  w-full rounded-md border border-input bg-background text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50
  }

  .select-component-container .select-component__control{
    @apply rounded-md bg-background text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50
  }

  .tags-container .react-tagsinput-input{
    @apply text-foreground
  }

  .tags-container .react-tagsinput-tag{
    @apply bg-secondary text-foreground border-none shadow-lg
  }

  .tags-container .react-tagsinput-input--focused{
    @apply border-foreground
  }
}