@tailwind base;
@tailwind components;
@tailwind utilities;
 

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
 
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
 
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
 
    --border: 220 13% 91%;
    --input: 220 13% 91%;
 
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
 
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
 
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
 
    --ring: 217.9 10.6% 64.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
 
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
 
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
 
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
 
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
 
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
 
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
 
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
 
    --ring: 215 27.9% 16.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  * {
    outline: none;
    @apply antialiased;
  }

  .wrapper {
    @apply mx-auto px-16 xl:container;
  }

  .wrapper-mobile {
    @apply mx-auto px-8 xl:container;
  }
}

@layer components {
  /* Headers */
  .main-title {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl text-foreground ;
  }

  .section-title {
    @apply scroll-m-20  pb-2 sm:text-3xl text-4xl font-semibold tracking-tight transition-colors first:mt-0 uppercase text-foreground;
  }

  .section-subtitle {
    @apply text-sm font-bold uppercase text-foreground ;
  }

  .text-title {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight text-foreground;
  }

  .text-subtitle {
    @apply scroll-m-20 text-xl font-semibold tracking-tight text-foreground;
  }

  /* Text */
  .text {
    @apply leading-7 text-foreground;
  }

  .small-text {
    @apply text-sm font-medium leading-none text-foreground;
  }
  .text-quote {
    @apply mt-6 border-l-2 pl-6 italic text-foreground;
  }

  .text-list {
    @apply @applymy-6 ml-6 list-disc [&>li]:mt-2 text-foreground;
  }

  .text-muted {
    @apply text-sm text-muted-foreground ;
  }
}